.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active,
	.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link
	{
	color: #fff;
	margin-right: 10px;
}

.navbar-nav-svg {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: text-top;
}

.dropdown-menu {
	font-size: .875rem;
}

.dropdown-item.active {
	font-weight: 500;
	color: $gray-900;
	background-color: #add5fd !important;
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: .4rem .6rem;
	background-size: .75rem .75rem;
}

.bg-light {
	background-color: #add5fd !important;
}

.aplic .image {
	background: url('./images/doctor-office.jpg');
	background-size: cover
}

.aplic .image2 {
	background: url('./images/fondoazul.jpg');
	background-size: cover
}

.blockUI .imgLoadMessage {
	vertical-align: middle;
}

.blockUI .loadText {
	line-height: 10vw;
	font-size: 5vw;
	color: #1e4f5b;
}

.image-preview-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.image-preview-input-title {
	margin-left: 2px;
}

.aplic .jumbotron {
	background-color: #072a4ca1;
	margin-top: 48px;
	color: white;
}

.aplic .header {
	background-color: white;
	text-align: right;
	padding-right: 44px;
}

.aplic .footer {
	background-color: #343a40;
	color: white;
	width: 100%;
	text-align: center;
}

.aplic .fieldset {
	margin: 10px 10px 10px 10px;
	padding: 15px 15px 15px 15px;
	background: #a6cdde52;
	border: 1px solid #1076bd;
}

.aplic .cargaInformes {
	max-width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	padding-top: 40px;
	heigth: 590px;
}

.aplic #inicio {
	height: auto;
}

.aplic .tableAplic {
	background-color: #ffffffba !important;
}

.table {
	background-color: #ffffffba !important;
}

.aplic .btn-outline-info {
	color: #1076bd;
	background-color: #ffffffba;
	background-image: none;
	border-color: #1076bd;
}

.aplic .btn-outline-info:hover {
	color: #fff;
	background-color: #3e788f;
	border-color: #3e788f;
}

.aplic .alert-success {
	background-color: #c0ffcf !important;
}

.aplic .alert-warning {
	background-color: #f5e3ac !important
}

.aplic .form-group {
	padding: 16px 5px 5px 5px;
}

.aplic .botonAdd {
	background: url(./images/addIcon.png) no-repeat center left;
	backgroud-size: 65px
}

.aplic .form-inline .form-control {
	width: 100%;
}

.aplic .fas {
	color: white;
	margin-right: 5px;
}

.aplic .nav-link {
	margin-rigth: 10px;
}

.aplic .gj-icon, .gj-textbox-md {
	color: #3f788f;
}

.aplic .gj-textbox-md {
	border-bottom: 1px solid #3f788f
}

.aplic .logo {
	width: 172px;
	margin-top: -15px;
	margin-bottom: -9px;
	margin-right: 26px;
}

.aplic .imfFooter {
	margin: auto;
	display: block;
	width: 284px;
}
.aplic .label{
	color: #343a40;
    font-weight: bold;
}
.blockUI .imgLoadMessage {
    vertical-align: middle;
    margin-right: 2rem;
    margin-bottom: 1vw;
}

.blockUI .loadText {
	line-height: 10vw;
    font-size: 6vw;
    color: #ba1944;
}

.blockUI img {
	height: 8vw;
	width: auto;
	font-size: 6vw;
	color: #ba1944;
}
.aplic-fade.in {
	opacity: 1;
}

.aplic-fade {
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.ui-autocomplete{
	max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
}

.ui-menu-item a.ui-state-focus {
 background-color: #fff;
}